<!DOCTYPE html>
<html lang="en">
<body class="container">

<header>
"Welcome to the Front End Page""
</header>

<main>
  <div class="jumbotron">

    <h1>This is second submit</h1>
    <h2>Failed to Insert</h2>
</main>

</body>
</html>