<!DOCTYPE html>
<html lang="en">
<body class="container">

<header>
"Welcome to Seed Corporation of Karnataka"
This is KYC Form to be filled only by relevant people who have Shares allocated by Seed Corporation of Karnataka
</header>

<main>
  <div class="jumbotron">
    <form action="/response_1" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="v_username" required />
        <br><br>
        <button type="submit">Submit</button>
    </form>

    <h1>This is second submit</h1>
    <form action="/response_2" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username1" name="username1" required />
        <br><br>
        <button type="submit">Submit</button>
    </form>

    <h2>Variable</h2>
  
</main>


</body>
</html>