<!DOCTYPE html>
<html lang="en">
<body class="container">
<head>
  <title>Image Upload</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<header>
"Welcome to Ananthgram Farms"
</header>

<main>
  <div class="jumbotron">

    <img src="/images/Vayuputra.jpg" alt="Sample Image" height="600" width="1800">

    <p style="background-image: url('/images/Vayuputra.jpg');"></p>

    

    <form action="/response_2" method="POST">
        <label for="username">Enter District Name:</label>
        <input type="text" id="username" name="v_username" required />
        <br><br>
        <button type="submit">Submit</button>
    </form>

    <h1>Enter Data to Extract Data from Datbase</h1>
    <form action="/response_1" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username1" name="v_district" required />
        <label for="Month">Month:</label>
        <input type="text" id="month" name="v_month" required />
        <label for="Year">Year:</label>
        <input type="text" id="year" name="v_year" required />
        <label for="ESCOM">ESCOM:</label>
        <input type="text" id="escom" name="v_escom" required />
        <br><br>
        <button type="submit">Submit</button>
    </form>

    <h1>Enter Data to Submit Data into Datbase</h1>
    <form action="/response_3" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="district" name="v_district" required />
        <label for="Month">Month:</label>
        <input type="text" id="month" name="v_month" required />
        <label for="Year">Year:</label>
        <input type="text" id="year" name="v_year" required />
        <label for="ESCOM">ESCOM:</label>
        <input type="text" id="escom" name="v_escom" required />
        <br><br>
        <button type="submit">Submit</button>
    </form>
  
</main>


</body>
</html>